---
- name: Ensure jailed group exits
  ansible.builtin.group:
    name: jailed
    state: present

- name: Ensure jailed users exists
  ansible.builtin.user:
    name: "{{ item }}"
    group: "jailed"
    #groups: ["jailed"]
    state: present
    shell: "/bin/bash"
    expires: "{{ '%s' | strftime( (ansible_date_time.epoch | int) + (172800 * 1)  ) }}" # Expires in 24h
    password: "{{ (item + initial_password_suffix) | password_hash('sha512', 'mysecretsalt') }}"
  with_items: "{{ ssh_jailed_users }}"
  when: (ssh_jailed_users|length>0)

- name: Ensure jailed user plankton exists
  ansible.builtin.user:
    name: "plankton"
    uid: 1400
    group: "users"
    groups: ["jailed"]
    state: present
    shell: "/bin/bash"
    expires: "{{ '%s' | strftime( (ansible_date_time.epoch | int) + (172800 * 1)  ) }}" # Expires in 24h
    password: "{{ ('plankton' + initial_password_suffix) | password_hash('sha512', 'mysecretsalt') }}"

- name: Set environment variable for treasure hunt user plankton 
  ansible.builtin.lineinfile:
    dest: /home/plankton/.profile
    state: present
    regexp: '^KAREN="p"; export $KAREN'
    line: 'KAREN="p"; export $KAREN'

- name: "Users should belong to jailed group"
  ansible.builtin.user:
    name: "{{ item }}"
    groups: jailed
    append: yes
  with_items: "{{ ssh_jailed_users }}"
  when: (ssh_jailed_users|length>0)

- name: Ensure all jailed users belong to unprivileged groups
  ansible.builtin.include_tasks: remove-groups.yml
  with_items: "{{ ssh_jailed_users }}"
  when: (ssh_jailed_users|length>0)

- name: Build jailed container
  community.docker.docker_image:
    build:
      path: roles/docker-jail/files/
    debug: true
    name: debian-jail
    tag: latest
    source: build
    force_tag: true

- name: Copy files/containerize.sh to /usr/local/containerize.sh
  ansible.builtin.copy:
    src: files/containerize.sh
    dest: /usr/local/containerize.sh
    owner: root
    group: root
    mode: '0755'

- name: Copy files/wsadm to /usr/local/bin/
  ansible.builtin.copy:
    src: files/wsadm
    dest: /usr/local/bin/wsadm
    owner: root
    group: root
    mode: '0755'

- name: Ensure sudo is installed
  ansible.builtin.package:
    name: sudo
    state: present

- name: Allow password-less sudo on /usr/local/containerize.sh for jailed users
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^%jailed ALL=(ALL) NOPASSWD: /usr/local/containerize.sh'
    line: '%jailed ALL=(ALL) NOPASSWD: /usr/local/containerize.sh'
    validate: 'visudo -cf %s'

- name: Insert/Update Match Group in /etc/ssh/sshd_config
  ansible.builtin.blockinfile:
    path: /etc/ssh/sshd_config
    insertafter: EOF
    block: |
      Match Group jailed
            ForceCommand sudo /usr/local/containerize.sh
            AllowTcpForwarding no
            PermitTunnel no
            X11Forwarding no
      Match All
  notify: restart sshd
