---
# file: remove-groups.yml

- name: Lookup user data
  ansible.builtin.user:
    name: "{{ item }}"
    state: present
  register: user_data

- name: remove user from docker group - {{ item }}
  ansible.builtin.command: "gpasswd -d {{ item }} docker"
  when: user_data.groups is defined and 'docker' in user_data.groups

- name: remove user from sudo group - {{ item }}
  ansible.builtin.command: "gpasswd -d {{ item }} sudo"
  when: user_data.groups is defined and 'sudo' in user_data.groups
