[Unit]
Description=WebTTY Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull wettyoss/wetty:latest
ExecStart=/usr/bin/docker run --rm --name %n \
-p {{ docker_bridge.network.IPAM.Config[0].Gateway }}:3000:3000 \
wettyoss/wetty:latest \
wetty \
--base=/ \
--ssh-host={{ docker_bridge.network.IPAM.Config[0].Gateway }}

ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target